<!-- src/app/features/auth/login/login.component.html -->
<div class="container d-flex align-items-center justify-content-center" style="min-height: 70vh;">
  <div class="card shadow-sm w-100" style="max-width: 420px;">
    <div class="card-body p-4">
      <h4 class="card-title mb-3 text-center">Sign in to License Manager</h4>

      <!-- <form (ngSubmit)="onLogin()">
        <div class="mb-3">
          <label for="userName" class="form-label"><b>User Name</b></label>
          <input type="text" id="userName" class="form-control" name="deviceType" required>
          <input type="password" id="password" class="form-control mt-3" placeholder="Password" required>
        </div>

      </form> -->

      <div class="text-center mt-3">
        <a routerLink="/forgot-password">Forgot password?</a>
      </div>
    </div>
  </div>
</div>

