<div class="container mt-4">
    <h2 class="text-center">Device Management</h2>
  
    <!-- Add Button -->
    <div class="text-end mb-3">
      <button class="btn btn-success" (click)="navigateToAddDevice()">Add Device</button>
    </div>
  
    <!-- Responsive Table -->
    <div class="table-responsive">
      <table class="table table-hover table-bordered border-dark">
        <thead class="thead-light">
          <tr>
            <th scope="col" class="border-dark border-2">Device ID</th>
            <th scope="col" class="border-dark border-2">Device Type</th>
            <th scope="col" class="border-dark border-2">Created At</th>
            <th scope="col" class="border-dark border-2">Created By</th>
            <th scope="col" class="border-dark border-2">Last Modified At</th>
            <th scope="col" class="border-dark border-2">Last Modified By</th>
            <th scope="col" class="border-dark border-2 text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let device of devices">
            <th scope="row" class="border-dark border-2">{{ device.deviceId }}</th>
            <td class="border-dark border-2">{{ device.deviceType }}</td>
            <td class="border-dark border-2">{{ device.createdAt | date: 'medium' }}</td>
            <td class="border-dark border-2">{{ device.createdBy }}</td>
            <td class="border-dark border-2">{{ device.lastModifiedAt | date: 'medium' }}</td>
            <td class="border-dark border-2">{{ device.lastModifiedBy }}</td>
            <td class="border-dark border-2 text-center">
              <div class="d-flex justify-content-around">
                <!-- Edit Button -->
                <button class="btn btn-primary btn-sm" (click)="onEdit(device)" title="Edit Device">
                  <i class="bi bi-pencil"></i>
                </button>
  
                <!-- Delete Button -->
                <!-- <button class="btn btn-danger btn-sm" (click)="onDelete(device)" title="Delete Device">
                  <i class="bi bi-trash"></i>
                </button> -->
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  